<h3>Sign In</h3>
<form action="/admin" method="post">
  <label for="username"><b>Username</b></label>
  <input type="text" placeholder="Enter username" name="username">
  <label for="password"><b>Username</b></label>
  <input type="password" placeholder="Enter password" name="password">
  <input type="submit" class="btn btn-primary" value="Login">
</form>

<!-- <h3>Register</h3>
<form action="/register" method="post">
  <label for="username"><b>Username</b></label>
  <input type="text" placeholder="Enter username" name="username">
  <label for="password"><b>Username</b></label>
  <input type="password" placeholder="Enter password" name="password">
  <input type="submit" class="btn btn-primary" value="Register">
</form> -->
