<div class="container-fluid bg sticky-top">
  <nav class="navbar navbar-expand-md navbar-success navbar-dark">
    <a class="blog-header-logo text-decoration-none me-3" href="/">Christmas</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0 text-emphasis">
        <li class="nav-item px-1 ">
          <a class="nav-link <%= isActiveRoute('/',currentRoute) %>" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item px-1">
          <a class="nav-link <%= isActiveRoute('/posts',currentRoute) %>" aria-current="page" href="/posts">All Posts</a>
        </li>
        <li class="nav-item px-1">
          <a class="nav-link <%= isActiveRoute('/dashboard',currentRoute) %>"" href="/dashboard">Admin</a>
        </li>
        <li class="nav-item px-1">
          <a class="nav-link <%= isActiveRoute('/about',currentRoute) %>"href="/about">About</a>
        </li>
        <li class="nav-item px-1 dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Tags</a>
          <ul class="dropdown-menu bg-success ">
            <li><a class="dropdown-item" href="#">Books</a></li>
            <li><a class="dropdown-item" href="#">Movies</a></li>
            <li><a class="dropdown-item" href="#">Music</a></li>
            <li><a class="dropdown-item" href="#">Food</a></li>
            <li><a class="dropdown-item" href="#">Traditions</a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex search-form" role="search" action="/search" method="post">
        <input id="searchInput" name="searchTerm" class="form-control me-2" type="search" placeholder="Search posts" aria-label="Search">
        <button class="btn btn-outline-light" type="submit">Search</button>
      </form>
    </div>
  </nav>
</div>