<div class="container-fluid bg sticky-top">
        <nav class="navbar navbar-expand-md navbar-success navbar-dark">
          <a class="blog-header-logo text-decoration-none me-3" href="/">Christmas</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0 text-emphasis">
              <li class="nav-item px-1 ">
                <a class="nav-link " aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item px-1">
                <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item px-1">
                <a class="nav-link" href="/dashboard">Admin</a>
              </li>
              <li class="nav-item px-1">
                <a class="nav-link">About</a>
              </li>
              <li class="nav-item px-1 dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Tags</a>
                <ul class="dropdown-menu bg-success ">
                  <li><a class="dropdown-item" href="#">Books</a></li>
                  <li><a class="dropdown-item" href="#">Movies</a></li>
                  <li><a class="dropdown-item" href="#">Music</a></li>
                  <li><a class="dropdown-item" href="#">Food</a></li>
                  <li><a class="dropdown-item" href="#">Traditions</a></li>
                </ul>
              </li>
            </ul>
            <form class="d-flex search-form" role="search" action="/search" method="post">
              <button class="btn btn-outline-light  me-2" type="submit">Logout</button>
            </form>
          </div>
        </nav>
      </div>
    </div>
  </nav>
</div>