<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs') %>

  <body>
    <div class="container-fluid wide">
      <%- include('../partials/header.ejs') %>
    </div>
    <div class="container">

      <main class="container mt-3">
        <%- body %>
      </main>
    </div>
    <%- include('../partials/footer.ejs') %>
  </body>

</html>