<section class="articles">
    <h2 class="post-heading"><%= data.title %></h2>
    <div class="px-md-5 py-md-4 p-sm-3 mt-4 mb-4 rounded border border-success border-2 text-body-emphasis bg-body-secondary">
      <article class="article">
      <%- data.body %>
    </article>
    </div>
</section>