<div class="author">
  <h1 class="author-heading">Search Results</h1>
</div>

<section class="articles container">
  <article class="blog-post border border-success border-2 rounded p-3">
    <ul class="article-ul">
      <% data.forEach(post=> { %>
        <li>
          <a href="/post/<%= post._id %>">
            <div class="col-7 mb-0 articles-heading">
              <%=post.title%>
            </div>
            <div class="article-list-date col-5"><%=post.createdAt.toLocaleDateString('en-US', {weekday:"long", year:"numeric", month:"long", day:"numeric", hour:"numeric", minute:"numeric"})%></div>
          </a>
        </li>
        <% }) %>
    </ul>
  </article>
</section>